<!--preloading-->
<!-- <img class="logo" src="../../assets/images/logo1.png" alt="" width="119" height="58"> -->
<!-- <div id="preloader">
    <img class="logo" src="../../assets/images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div> -->
<!--end of preloading-->


<!-- BEGIN | Header -->
<app-header></app-header>
<!-- END | Header -->

<div class="hero hero3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<!-- celebrity single section-->

<div class="page-single movie-single cebleb-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="mv-ceb">
					<img src="{{this.actor.Image}}" alt="">
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct">
					<h1 class="bd-hd">{{this.actor.ActorName}}</h1>
					<p class="ceb-single">Actor </p>
					<button (click)="goback()">Go Back</button>
					<div class="social-link cebsingle-socail">
						<a href="{{this.actor.Linkfb}}"><i class="ion-social-facebook"></i></a>
						<a href="{{this.actor.LinkTwiter}}"><i class="ion-social-twitter"></i></a>
						<a href="#"><i class="ion-social-googleplus"></i></a>
						<a href="#"><i class="ion-social-linkedin"></i></a>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							
								<nav>
									<div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin-top:30px">
										<ul class="tab-links tabs-mv">
									
											<li class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
											href="#overviewceb" role="tab" aria-controls="nav-home" aria-selected="true" class="active"><a href="#overviewceb">Overview</a></li>
											<li class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"
											href="#biography" role="tab" aria-controls="nav-home"><a href="#biography">Biography</a></li>

											<li class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"
											href="#mediaceb" role="tab" aria-controls="nav-home"><a href="#mediaceb">Videos & Photos</a></li>

											<li class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"
											href="#filmography" role="tab" aria-controls="nav-home"><a href="#filmography">flim</a></li>

			
										</ul>
									</div>
								</nav>
						
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="biography" role="tabpanel"
									aria-labelledby="nav-home-tab">
									<div class="row">
										<div class="rv-hd">
										</div>
										<div [innerHTML]="this.actor.Biography"></div>
									</div>
								</div>
								<div class="tab-pane fade" id="mediaceb" role="tabpanel"
									aria-labelledby="nav-profile-tab">
									<div class="row">
										<div class="title-hd-sm">
											<h4>Videos <span></span></h4>
										</div>
										<div class="mvsingle-item media-item">
											<li *ngFor="let listmedia of mediaactor">
												<div class="vd-item">
													<div class="vd-it">
														<img class="vd-img" src="{{this.listmedia.Image}}" alt="">

														<a class="fancybox-media hvr-grow"
															href="{{listmedia.linkActorMedia}}"><img
																src="../assets/images/uploads/play-vd.png" alt=""></a>
													</div>
													<div class="vd-infor">
														<h6> <a
																href="{{listmedia.linkActorMedia}}">{{listmedia.Title}}</a>
														</h6>
														<p class="time"> {{listmedia.time}}</p>
													</div>
												</div>
											</li>

										</div>
										<div class="title-hd-sm">
											<h4>Photos <span> (21)</span></h4>
										</div>
										<div class="mvsingle-item">
											<li *ngFor="let photo of photoactor">
												<a class="img-lightbox" data-fancybox-group="gallery"
													href="{{photo.path}}"><img src="{{photo.path}}" alt=""></a>
											</li>
										</div>
									</div>
								</div>

								<div class="tab-pane fade" id="filmography" role="tabpanel"
									aria-labelledby="nav-contact-tab">
									<div class="row">
										<div class="rv-hd">
											<div>
												<h3>Biography of</h3>
												<h2>Hugh Jackman</h2>
											</div>

										</div>
										<div class="topbar-filter">
											<p>Found <span>14 movies</span> in total</p>
											<label>Filter by:</label>
											<select>
												<option value="popularity">Popularity Descending</option>
												<option value="popularity">Popularity Ascending</option>
												<option value="rating">Rating Descending</option>
												<option value="rating">Rating Ascending</option>
												<option value="date">Release date Descending</option>
												<option value="date">Release date Ascending</option>
											</select>
										</div>
										<!-- movie cast -->
										<div class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../assets/images/uploads/film1.jpg" alt="">
													<div>
														<a href="#">X-Men: Apocalypse </a>
														<p class="time">Logan</p>
													</div>

												</div>
												<p>... 2016</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../assets/images/uploads/film2.jpg" alt="">
													<div>
														<a href="#">Eddie the Eagle </a>
														<p class="time">Bronson Peary</p>
													</div>
												</div>
												<p>... 2015</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../assets/images/uploads/film3.jpg" alt="">
													<div>
														<a href="#">Me and Earl and the Dying Girl </a>
														<p class="time">Hugh Jackman</p>
													</div>
												</div>
												<p>... 2015</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../assets/images/uploads/film4.jpg" alt="">
													<div>
														<a href="#">Night at the Museum 3 </a>
														<p class="time">Blackbeard</p>
													</div>
												</div>
												<p>... 2014</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../assets/images/uploads/film5.jpg" alt="">
													<div>
														<a href="#">X-Men: Days of Future Past </a>
														<p class="time">Wolverine</p>
													</div>
												</div>
												<p>... 2012</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../assets/images/uploads/film6.jpg" alt="">
													<div>
														<a href="#">The Wolverine </a>
														<p class="time">Logan</p>
													</div>
												</div>
												<p>... 2011</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../assets/images/uploads/film7.jpg" alt="">
													<div>
														<a href="#">Rise of the Guardians </a>
														<p class="time">Bunny</p>
													</div>
												</div>
												<p>... 2011</p>
											</div>
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="../assets/images/uploads/film8.jpg" alt="">
													<div>
														<a href="#">The Prestige </a>
														<p class="time">Robert Angier</p>
													</div>
												</div>
												<p>... 2010</p>
											</div>
										</div>
									</div>
								</div>
								<div id="overviewceb" class="tab active">
									<div class="row">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<p>{{this.actor.Conten_Overview}}</p>

											<p class="time"><a href="#biography">See full bio <i
														class="ion-ios-arrow-right"></i></a></p>
											<div class="title-hd-sm">
												<h4>Videos & Photos</h4>
												<a href="#moviephotos" class="time">All 5 Videos & 245 Photos <i
														class="ion-ios-arrow-right"></i></a>
											</div>
											<div class="mvsingle-item ov-item">
												<a class="img-lightbox" data-fancybox-group="gallery"
													href="../assets/images/uploads/image11.jpg"><img
														src="../assets/images/uploads/image1.jpg" alt=""></a>
												<a class="img-lightbox" data-fancybox-group="gallery"
													href="../assets/images/uploads/image21.jpg"><img
														src="../assets/images/uploads/image2.jpg" alt=""></a>
												<a class="img-lightbox" data-fancybox-group="gallery"
													href="../assets/images/uploads/image31.jpg"><img
														src="../assets/images/uploads/image3.jpg" alt=""></a>
												<div class="vd-it">
													<img class="vd-img" src="../assets/images/uploads/image4.jpg"
														alt="">
													<a class="fancybox-media hvr-grow"
														href="https://www.youtube.com/embed/o-0hcF97wy0"><img
															src="../assets/images/uploads/play-vd.png" alt=""></a>
												</div>
											</div>
											<div class="title-hd-sm">
												<h4>filmography</h4>
												<a href="#" class="time">Full Filmography<i
														class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">
												<div class="cast-it">
													<div class="cast-left cebleb-film">
														<img src="../assets/images/uploads/film1.jpg" alt="">
														<div>
															<a href="#">X-Men: Apocalypse </a>
															<p class="time">Logan</p>
														</div>

													</div>
													<p>... 2016</p>
												</div>
												<div class="cast-it">
													<div class="cast-left cebleb-film">
														<img src="../assets/images/uploads/film2.jpg" alt="">
														<div>
															<a href="#">Eddie the Eagle </a>
															<p class="time">Bronson Peary</p>
														</div>
													</div>
													<p>... 2015</p>
												</div>
												<div class="cast-it">
													<div class="cast-left cebleb-film">
														<img src="../assets/images/uploads/film3.jpg" alt="">
														<div>
															<a href="#">Me and Earl and the Dying Girl </a>
															<p class="time">Hugh Jackman</p>
														</div>
													</div>
													<p>... 2015</p>
												</div>
												<div class="cast-it">
													<div class="cast-left cebleb-film">
														<img src="../assets/images/uploads/film4.jpg" alt="">
														<div>
															<a href="#">Night at the Museum 3 </a>
															<p class="time">Blackbeard</p>
														</div>
													</div>
													<p>... 2014</p>
												</div>
												<div class="cast-it">
													<div class="cast-left cebleb-film">
														<img src="../assets/images/uploads/film5.jpg" alt="">
														<div>
															<a href="#">X-Men: Days of Future Past </a>
															<p class="time">Wolverine</p>
														</div>
													</div>
													<p>... 2012</p>
												</div>
												<div class="cast-it">
													<div class="cast-left cebleb-film">
														<img src="../assets/images/uploads/film6.jpg" alt="">
														<div>
															<a href="#">The Wolverine </a>
															<p class="time">Logan</p>
														</div>
													</div>
													<p>... 2011</p>
												</div>
												<div class="cast-it">
													<div class="cast-left cebleb-film">
														<img src="../assets/images/uploads/film7.jpg" alt="">
														<div>
															<a href="#">Rise of the Guardians </a>
															<p class="time">Bunny</p>
														</div>
													</div>
													<p>... 2011</p>
												</div>
												<div class="cast-it">
													<div class="cast-left cebleb-film">
														<img src="../assets/images/uploads/film8.jpg" alt="">
														<div>
															<a href="#">The Prestige </a>
															<p class="time">Robert Angier</p>
														</div>
													</div>
													<p>... 2010</p>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-xs-12 col-sm-12">
											<div class="sb-it">
												<h6>Fullname: </h6>
												<p><a href="#">{{this.actor.ActorName}}</a></p>
											</div>
											<div class="sb-it">
												<h6>Date of Birth: </h6>
												<p>{{this.actor.Birth}}</p>
											</div>
											<div class="sb-it">
												<h6>Country: </h6>
												<p>{{this.actor.Country}}</p>
											</div>
											<div class="sb-it">
												<h6>Height:</h6>
												<p>N/a</p>
											</div>
											<div class="sb-it">
												<h6>Prize:</h6>
												<p>{{prize.prizeName}}</p>
											</div>
											<div class="ads">
												<img src="../assets/images/uploads/ads1.png" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- celebrity single section-->

<!-- footer section-->
<app-footer></app-footer>
<!-- end of footer section-->